
.text-post  {
	line-height: 23pt; /* 14 = 10 + 2 above + 2 below */
	float: left;
	width: 40%;
}
.text-post-left  {
	width: 40%;
    margin-left: 60px;
    line-height: 23pt; /* 14 = 10 + 2 above + 2 below */
}
.img-post {
	max-width: 600px;
    margin-left: 70px;
}
.img-post-right {
	max-width: 600px;
    float: right;
	position: relative;
    margin-top: 20%;
    margin-left:30px;
    padding-right: 0px!important;
}
.contenedor{
	padding-right: 0px!important;
}
   
    @media only screen and (max-width:999px){
    	.img-post {
			max-width: 500px;
			margin-left: 20px;
			margin-top: 110px;
		}
    }


    @media only screen and (max-device-width:480px){
       	.img-post {
			max-width: 300px;
			margin-left: 20px;
			margin-top: 110px;
		}
    }

   